{% extends 'base.html' %}
{% block content %}
<h2 class="my-4">Add New Component</h2>
<form method="POST" class="needs-validation" novalidate>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
                <div class="invalid-feedback">
                    Please enter a name.
                </div>
            </div>
        
                        <!-- <div class="mb-3">
                <label for="category" class="form-label">Category:</label>
                <input type="text" class="form-control" id="category" name="category" required placeholder="Boards, Sensors, Wires, components...">
                <div class="invalid-feedback">
                    Please enter a category.
                </div>
            </div> -->
                <div class="form-group">
                    <label for="category" class="form-label">Category:</label>
                    <input list="options" name="category"   id="category" class="form-control" placeholder="Select or type..." autocomplete="off">
                    <datalist id="options">
                        <option value="Boards">
                        <option value="Sensors">
                        <option value="Kits">
                        <option value="ELectronic Components">
                        <option value="Wires">
                        <option value="Other">
                    </datalist>
                </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity:</label>
                <input type="number" class="form-control" id="quantity" name="quantity" required>
                <div class="invalid-feedback">
                    Please enter a quantity.
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="location" name="location" required>
                <div class="invalid-feedback">
                    Please enter a location.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label for="notes" class="form-label">Notes:</label>
                <textarea class="form-control" id="notes" name="notes"></textarea>
            </div>
        </div>
    </div>
    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary ">Add Component</button>
    </div>
</form>

<h2 class="my-4">Upload XLSX File</h2>
<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="file" class="form-label">Choose XLSX file:</label>
        <input type="file" class="form-control w-50" id="file" name="file" accept=".xlsx .xls" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
{% endblock %}
