{% extends 'base.html' %}
{% block content %}
<h2 class="my-4">Update Component</h2>
<form method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ component.name }}" required>
        <div class="invalid-feedback">
            Please enter a name.
        </div>
    </div>
    <div class="mb-3">
        <label for="inventory_number" class="form-label">Inventory:</label>
        <input type="text" class="form-control" id="inventory_number" name="inventory_number" value="{{ component.inventory_number }}" required>
        <div class="invalid-feedback">
            Please enter a inventory.
        </div>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <input type="text" class="form-control" id="category" name="category" value="{{ component.category }}" required>
        <div class="invalid-feedback">
            Please enter a category.
        </div>
    </div>


    <!-- <div class="form-group">
        <label for="category" class="form-label">Category:</label>
        <input list="options" id="category" class="form-control" placeholder="Select or type..." name="category" value="{{ component.category }}" required>
        <datalist id="options">
            <option value="Boards">
            <option value="Sensors">
            <option value="ELectronic Components">
            <option value="Wires">
            <option value="Other">
        </datalist>
        <div class="invalid-feedback">
            Please enter a category.
        </div>
    </div> -->


    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity:</label>
        <input type="number" class="form-control" id="quantity" name="quantity" value="{{ component.quantity }}" required>
        <div class="invalid-feedback">
            Please enter a quantity.
        </div>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input type="text" class="form-control" id="location" name="location" value="{{ component.location }}" required>
        <div class="invalid-feedback">
            Please enter a location.
        </div>
    </div>
    <div class="mb-3">
        <label for="notes" class="form-label">Notes:</label>
        <textarea class="form-control" id="notes" name="notes">{{ component.notes }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update Component</button>
</form>

{% endblock %}
